<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /farm
    RewriteRule ^index\.html$ - [L]
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-l
    RewriteRule . /stake/index.html [L]
</IfModule>